[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
django-progressive-web-app = "*"
social-auth-app-django = '*'
python-decouple = '*'
django-extensions = "*"
graphviz = "*"
"autopep8" = "*"
django-datetime-widget = "*"
django-storages = "*"
"boto3" = "*"
pylint = "*"
pylint-django = "*"
Django = "==2.2.10"
dj-database-url = '*'

[dev-packages]
pylint = '*'
pylint-django = '*'
