* {
    font-family: 'Niramit', sans-serif !important;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    height: 100%;
}

.site-content {
    flex: 1;
}

.closer p {
    margin: 0 !important;
    padding: 0 !important;
}

#bg-teal{
    background-color: #005555;
} 

.text-teal {
    color:#008080;
}

.text-white {
    color:#ffffff;
}

.margin-foot{
    position:absolute;
    bottom:0;
    width:100%;
    height:80px; 
}

#head-labper {
    color: white;
}

@media only screen and (max-width: 960px) {
    .hidden-on-large-display {
        display: block !important;
    }

    nav {
        height: 60px;
    }

    .hidden-on-small-display {
        display: none !important;
    }
}

