* {
    font-family: 'Niramit', sans-serif !important;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    height: 100%;
}

.site-content {
    flex: 1;
}

.closer p {
    margin: 0 !important;
    padding: 0 !important;
}

#bg-teal{
    background-color: #005555;
}

.margin-foot{
    position:absolute;
    bottom:0;
    width:100%;
    height:80px; 
}

.big {
    font-size: 20rem;
    color: #256363;
}

.hidden-on-large-display {
    display: none !important;
}

@media only screen and (max-width: 960px) {
    .hidden-on-large-display {
        display: block !important;
    }

    nav {
        height: 70px;
    }

    .hidden-on-small-display {
        display: none !important;
    }
}
