* {
    font-family: 'Niramit', sans-serif !important;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    height: 100%;
}

.site-content {
    flex: 1;
}

.closer p {
    margin: 0 !important;
    padding: 0 !important;
}

#bg-teal{
    background-color: #005555;
} 

.text-teal {
    color:#008080;
}

.text-white {
    color:#ffffff;
}



.margin-foot{
    position:absolute;
    bottom:0;
    width:100%;
    height:80px; 
}

#head-labper {
    color: white;
    font-size: 92.2%;
}

.hover-shadow-card {
    box-shadow: 0 0 3px rgb(88, 88, 88);
}

.hover-shadow-card:hover {
    box-shadow: 0 0 15px rgb(88, 88, 88);
    transform: scale(1.03, 1.03);
    transition: all 0.3s ease-in-out;
}

.hidden-on-large-display {
    display: none !important;
}

.uk-offcanvas-bar {
    background: linear-gradient(to right, rgb(59, 57, 59) 0%, rgba(13, 19, 13, 0.66) 100%) !important;
    box-shadow: 0 0 15px gray;
}

.hospital-cover {
    object-fit: cover;
    width: 100%;
}

@media only screen and (max-width: 960px) {
    .hidden-on-large-display {
        display: block !important;
    }

    nav {
        height: 60px;
    }

    .hidden-on-small-display {
        display: none !important;
    }
}

