* {
    font-family: 'Niramit', sans-serif !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.closer p {
    margin: 0 !important;
    padding: 0 !important;
}

#bg-teal{
    background-color: #005555;
}

.footer-wrapper {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}
