{% extends 'landing/base.html' %}
{% load static %}

{% block title %}
    Labper | Login
{% endblock %}

{% block body %}
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center uk-margin-medium-top uk-margin-auto-bottom">
        <h4 class="uk-text-center">Login with your Institute's account</h4>

        <div class="uk-align-center uk-text-center">
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <img src="{% static 'images/btn_google_signin_light_normal_web@2x.png' %}" width="200">
            </a>
        </div>
    </div>

{% endblock %}
