{% extends 'landing/base.html' %}

{% block title %}
    Labper | Login
{% endblock %}

{% block body %}
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center uk-margin-medium-top uk-margin-auto-bottom">
        <h4 class="uk-text-center uk-text-bold">Login with you Institute's account</h4>

        <div class="uk-align-center uk-text-center">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="uk-icon-button uk-button-default uk-margin-small-right" uk-icon="google"></a>
        </div>
    </div>
{% endblock %}
