<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <title>Labper</title>
    <link rel="shortcut icon" href="image/lab.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Saira+Semi+Condensed:700" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/styleabout.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110160045-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-110160045-1');
    </script>

    <!-- Hotjar Tracking Code for www.1ramp.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:911264,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>

<body>

    <div class="wrapper">
        <!-- <nav class="uk-navbar-container" uk-navbar style="position: relative; height:auto; background-color:#005555"> -->
            <div class="uk-navbar-left" style="background-color:#005555">
                <a class="uk-navbar-item uk-logo">
                    <img src="image/lab.png" width="50px">
                    <b class="uk-padding-small uk-padding-remove-bottom uk-padding-remove-top" style="color:white">Labper
                </a>
            </div>
        <!-- </nav> -->
<div class="uk-padding-medium"></div>
        <!--Header Starts-->
            <!--Hero Starts-->
        <!-- <div id="hero-partner" class="hero partner uk-flex uk-container" > -->
                <div class="uk-container">
                        <h3 class="title-deco uk-text-center title-text color-black-a54">
                            <i class="fa fa-flask fa-lg" aria-hidden="true"></i>
                            <span class="title-deco-text text-teal">About Labper</span>
                            <i class="fa fa-flask fa-lg" aria-hidden="true"></i>
                        </h3>
                </div>
        <!-- </div> -->

        <!--Intro Starts-->
        <div id="intro" class="intro uk-container uk-margin--medium-top">

            <div class="uk-padding-medium"></div>
            <div class="uk-grid">
                <div class="uk-width-1-6@m"></div>
                <div class="intro-wrapper uk-width-2-3@m color-black-a54">
                    <p>
                        <strong>Lab Performance Evaluator</strong>
                    </p>
                    <p>
                            Labper will serve as a web portal that serves as a comprehensive tool to assist
                             professors in conducting labs systematically and awarding grades unambiguously.
                             The necessity for such a software arises from the various issues faced by students 
                             and professors alike in their respective lab courses. The lack of basic resources
                              is common to both students and professors. The resources they lack however differ. 
                    </p>
                </div>
            </div>
        </div>

        <div class="uk-padding-small"></div>


        <!--Team Section-->
        <div id="team" class="team uk-margin-large-top">
            <div class="uk-container">
                <h3 class="title-deco uk-text-center title-text color-black-a54">
                    <i class="fa fa-group fa-lg" aria-hidden="true"></i>
                    <span class="title-deco-text text-teal">TEAM</span>
                    <i class="fa fa-group fa-lg" aria-hidden="true"></i>
                </h3>

                <!-- <div class="uk-padding-small"></div> -->

                <div class="uk-grid uk-margin-large-top team-wrapper">

                    <!--AashutoshRathi-->
                    <div class="uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s uk-text-center uk-margin-large-top">
                        <div class="member-thumb">
                            <img src="image/aashutosh.jpg" alt="AashutoshRathi" class="">
                            <div class="thumb-overlay"></div>
                        </div>
                        <h3 class="member-name text-color-primary title-text uk-margin-remove-bottom text-teal">Aashutosh Rathi</h3>
                        <!-- <h5 class="member-design uk-text-small uk-text-uppercase uk-margin-small-top color-black-a54">
                            Full Stack Developer</h5> -->
                        <!-- <div class="social-links">
                            <a href="https://www.linkedin.com/in/aashutoshrathi" class="uk-icon-button uk-margin-small-right uk-icon-linkedin" uk-icon="icon: linkedin;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://twitter.com/aashutoshrathi" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://www.facebook.com/aashutoshrathi" class="uk-icon-button" uk-icon="icon: facebook;ratio: 0.75" target="_blank"></a>
                        </div> -->
                    </div>

                    <!--Abhishek-->
                    <div class="uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s uk-text-center uk-margin-large-top">
                        <div class="member-thumb">
                            <img src="image/abhishek.jpg" alt="AbhishekKumar" class="">
                            <div class="thumb-overlay"></div>
                        </div>
                        <h3 class="member-name text-color-primary title-text uk-margin-remove-bottom text-teal">Abhishek Kumar</h3>
                        <!-- <h5 class="member-design uk-text-small uk-text-uppercase color-black-a54 uk-margin-small-top">
                            Full Stack Engineer
                        </h5> -->
                        <!-- <div class="social-links">
                            <a href="https://www.linkedin.com/in/aviaryan/" class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://twitter.com/aviaryan123" class="uk-icon-button  uk-margin-small-right" uk-icon="icon: twitter;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://github.com/aviaryan" class="uk-icon-button" uk-icon="icon: github;ratio: 0.75" target="_blank"></a>
                        </div> -->
                    </div>

                    <!--Pritha-->
                    <div class="uk-margin-large-top uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s uk-text-center">
                        <div class="member-thumb">
                            <img src="image/pritha.jpg" alt="PrithaUpadhyay" class="">
                            <div class="thumb-overlay"></div>
                        </div>
                        <h3 class="member-name text-color-primary title-text uk-margin-remove-bottom text-teal">Pritha Upadhyay</h3>
                        <!-- <h5 class="member-design uk-text-small uk-text-uppercase color-black-a54 uk-margin-small-top">
                            Blockchain Engineer</h5> -->
                        <!-- <div class="social-links">
                            <a href="https://www.linkedin.com/in/prithaupadhyay/" class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://twitter.com/prithaupadhyay" class="uk-icon-button  uk-margin-small-right" uk-icon="icon: twitter;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://github.com/prithaupadhyay" class="uk-icon-button" uk-icon="icon: github;ratio: 0.75" target="_blank"></a>
                        </div> -->
                    </div>

                    <!--Aman-->
                    <div class="uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s uk-text-center uk-margin-large-top">
                        <div class="member-thumb">
                        <img src="image/aman.jpg" alt="AmanSingh" class="">
                            <div class="thumb-overlay"></div>
                        </div>
                        <h3 class="member-name text-color-primary title-text uk-margin-remove-bottom text-teal">Aman Singh</h3>
                        <!-- <h5 class="member-design uk-text-small uk-text-uppercase color-black-a54 uk-margin-small-top">
                            Lead Android Developer</h5> -->
                        <!-- <div class="social-links">
                            <a href="https://www.linkedin.com/in/bxute" class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://angel.co/bxute" class="uk-icon-button  uk-margin-small-right" uk-icon="icon: link;ratio: 0.75" target="_blank"></a>

                            <a href="https://github.com/bxute" class="uk-icon-button" uk-icon="icon: github;ratio: 0.75" target="_blank"></a>
                        </div> -->
                    </div>

                    <!--Varun-->
                    <div class="uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s uk-text-center uk-margin-large-top">
                        <div class="member-thumb">
                            <img src="image/varun.jpg" alt="VarunBafna" class="">
                            <div class="thumb-overlay"></div>
                        </div>
                        <h3 class="member-name text-color-primary title-text uk-margin-remove-bottom text-teal">Varun Bafna</h3>
                        <!-- <h5 class="member-design uk-text-small uk-text-uppercase color-black-a54 uk-margin-small-top">UI Designer
                        </h5> -->
                        <!-- <div class="social-links">
                            <a href="https://www.behance.net/ansarimofid" class="uk-icon-button uk-margin-small-right" uk-icon="icon: behance;ratio: 0.75"
                               target="_blank"></a>

                            <a href="http://ansarimofid.in/" class="uk-icon-button  uk-margin-small-right" uk-icon="icon: link;ratio: 0.75" target="_blank"></a>

                            <a href="https://www.linkedin.com/in/ansarimofid/" class="uk-icon-button" uk-icon="icon: linkedin;ratio: 0.75"></a>
                        </div> -->
                    </div>

                    <!--Ayush-->
                    <div class="uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s uk-text-center uk-margin-large-top">
                        <div class="member-thumb">
                            <img src="image/ayush.jpg" alt="AyushMudgal" class="">
                            <div class="thumb-overlay"></div>
                        </div> 
                        <h3 class="member-name text-color-primary title-text uk-margin-remove-bottom text-teal">Ayush Mudgal</h3>
                        <!-- <h5 class="member-design uk-text-small uk-text-uppercase color-black-a54 uk-margin-small-top">
                            Brand Strategist</h5> -->
                        <!-- <div class="social-links">
                            <a href="https://www.linkedin.com/in/rajatdangi/" class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://twitter.com/TheRajatDangi" class="uk-icon-button  uk-margin-small-right" uk-icon="icon: twitter;ratio: 0.75"
                               target="_blank"></a>

                            <a href="https://medium.com/@rajatkumardangi" class="uk-icon-button" uk-icon="icon: link;ratio: 0.75" target="_blank"></a>
                        </div> -->
                    </div>

                    </div>
                </div>

                <div class="uk-padding-small"></div>
            </div>
        </div>

        <div class="uk-padding-small"></div>

        <div id="associates" class="associates uk-margin-top">

            <div class="uk-container">
                <h3 class="title-deco uk-text-center title-text color-black-a54">
                   
                    <span class="title-deco-text text-teal">Associated with</span>
                
                </h3>

                <div class="uk-grid uk-margin-large-top associated-links-wrapper">
                    <div class="uk-text-center uk-flex uk-flex-wrap">
                        <div>
                            <div class="pow-container uk-flex-wrap">

                                <div class="pow-icon">
                                    <a href="http://iiitvadodara.ac.in/" class="supp-logo-wrapper  uk-padding-remove remove-border" target="_blank">
                                        <img class="logo full-width" src="image/iiit.jpg"
                                             alt="IIIT Vadodara">
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="uk-padding-large"></div>

        <footer class="footer uk-overflow-hidden uk-margin-top uk-text-center">
                    <div class=" footer-section uk-margin-medium-bottom uk-text-center">
                        <h4 class="section-title text-color-white title-text uk-text-center">Contact</h4>
                        <div class="uk-padding-small width-100"></div>
                        <div class="links-container">
                            <ul class="uk-list social-link-list">
                                <li
                                        class="uk-margin-small-bottom uk-display-inline-block uk-margin-remove-top">
                                    <a href="https://labper.herokuapp.com/" class="uk-margin-small-bottom" target="_blank">https://labper.herokuapp.com/</a>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-1-6@l"></div>
                    <div class="uk-width-2-3@l links-container">
                        <div class="tc-section-divider"></div>
                        <div class="uk-padding-small"></div>
                        <span class="text-color-white">Copyright 2018</span>
                        <span class="text-color-white">| </span>
                        <a href="terms.html" class="terms">Terms</a>
                    </div>
                </div>

                <div class="uk-padding-small width-100"></div>
            </div>
        </footer>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vide/0.5.1/jquery.vide.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    
    <script>
        //    Code Credit: https://codepen.io/rleve/pen/iCbgy
        (function () {
            'use strict';
            // Feature Test
            if ('querySelector' in document && 'addEventListener' in window && Array.prototype.forEach) {
                // Function to animate the scroll
                var smoothScroll = function (anchor, duration) {
                    // Calculate how far and how fast to scroll
                    var startLocation = window.pageYOffset;
                    var endLocation = anchor.offsetTop;
                    var distance = endLocation - startLocation;
                    var increments = distance / (duration / 16);
                    var stopAnimation;
                    // Scroll the page by an increment, and check if it's time to stop
                    var animateScroll = function () {
                        window.scrollBy(0, increments);
                        stopAnimation();
                    };
                    // If scrolling down
                    if (increments >= 0) {
                        // Stop animation when you reach the anchor OR the bottom of the page
                        stopAnimation = function () {
                            var travelled = window.pageYOffset;
                            if ((travelled >= (endLocation - increments)) || ((window.innerHeight +
                                    travelled) >= document.body.offsetHeight)) {
                                clearInterval(runAnimation);
                            }
                        };
                    }
                    // If scrolling up
                    else {
                        // Stop animation when you reach the anchor OR the top of the page
                        stopAnimation = function () {
                            var travelled = window.pageYOffset;
                            if (travelled <= (endLocation || 0)) {
                                clearInterval(runAnimation);
                            }
                        };
                    }
                    // Loop the animation function
                    var runAnimation = setInterval(animateScroll, 16);
                };
                // Define smooth scroll links
                var scrollToggle = document.querySelectorAll('.scroll');
                // For each smooth scroll link
                [].forEach.call(scrollToggle, function (toggle) {
                    // When the smooth scroll link is clicked
                    toggle.addEventListener('click', function (e) {
                        // Prevent the default link behavior
                        e.preventDefault();
                        // Get anchor link and calculate distance from the top
                        var dataID = toggle.getAttribute('href');
                        var dataTarget = document.querySelector(dataID);
                        var dataSpeed = toggle.getAttribute('data-speed');
                        // If the anchor exists
                        if (dataTarget) {
                            // Scroll to the anchor
                            smoothScroll(dataTarget, dataSpeed || 500);
                        }
                    }, false);
                });
            }
        })();
    </script>
</body>

</html>