<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="google-site-verification" content="X2aePlqF727JEAvz1NlxXZo4qmIVCfnyp4ORWwl-jOg" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- Android-->
        <meta name="theme-color" content="#455A64" />
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#455A64">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <title>
            {% block title %}
                Labper
            {% endblock %}
        </title>
        <link rel="icon" type="image/png" href="{% static 'icons/lab.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit-rtl.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <body>
        <header>
            <div uk-sticky="show-on-up: true; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar; animation: uk-animation-slide-top;">
                <nav id="bg-teal" class="uk-navbar-container uk-box-shadow-medium" uk-navbar style="position: relative;">
                    <div class="uk-navbar-left">
                        <a class="uk-text-middle uk-navbar-item uk-logo" href="{% url 'land' %}">
                            <img src="{% static 'icons/lab.png' %}" width="50px" style="margin-left: 5px;">
                            <b id="head-labper" class="uk-padding-small uk-padding-remove-bottom uk-padding-remove-top">Labper
                        </a>
                    </div>
                    <div class="uk-navbar-right uk-text-large">
                        <ul class="uk-navbar-nav">
                            {% if user.is_authenticated %}
                                <li class="uk-active">
                                    <a class="text-white">{{ user.username }}</a>
                                </li>
                            {% if upgd and not user.profile.teacher_profile %}
                                <li class="uk-active">
                                    <a class="text-white" href="{% url 'upgrade' %}">Upgrade to Teacher</a>
                                </li>
                            {% endif %}
                                <li class="uk-active">
                                    <a class="text-white" href="{% url 'logout' %}">Logout</a>
                                </li>
                                <li class="uk-active">
                                    <a href="#">
                                        {% if user.profile.avatar_small %}
                                            <img src="{{ user.profile.avatar_small }}" class="uk-border-circle" width="50">
                                        {% else %}
                                            <img src="{% static 'images/default.ico' %}" class="uk-border-circle" width="50"> 
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div class="site-content">
            {% block body %}

            {% endblock %}
        </div>

        <footer>
            <div align="center" class="footer-wrapper uk-box-shadow-small uk-box-shadow-hover-xlarge">
                <div class="uk-margin-small-left uk-margin-small-right margin-foot uk-padding-small uk-padding-remove-left uk-padding-remove-right">
                    <span class="uk-text-small text-teal">
                        <hr>
                        <span uk-icon="icon: code;"></span> by Team Labper
                    </span>
                </div>
            </div>
        </footer>
    </body>
</html>
