<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="google-site-verification" content="X2aePlqF727JEAvz1NlxXZo4qmIVCfnyp4ORWwl-jOg" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- Android-->
        <meta name="theme-color" content="#455A64" />
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#455A64">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <title>
            {% block title %}
                Labper
            {% endblock %}
        </title>
        <link rel="icon" type="image/png" href="{% static 'icons/lab.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit-rtl.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    </head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <body style="overflow-y: scroll; overflow-x: hidden;">
        <div id="spinner"></div>
        <header>
            <div uk-sticky="show-on-up: true; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar; animation: uk-animation-slide-top;">
                <nav id="bg-teal" class="uk-navbar-container uk-box-shadow-medium uk-light" uk-navbar style="position: relative;">
                    <div class="uk-navbar-left">
                        <a class="uk-text-middle uk-navbar-item uk-logo" href="{% url 'land' %}">
                            <img src="{% static 'icons/lab.png' %}" width="50px" style="margin-right: 10px;">
                            <b class="uk-padding-small uk-text-middle uk-padding-remove-bottom uk-padding-remove-top">Labper
                        </a>
                    </div>

                    <div class="uk-navbar-right hidden-on-small-display uk-text-large">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active">
                                <a id="clock">{% now "jS F Y" %}</a>
                            </li>
                            <li class="uk-active">
                                <a href="{% url 'ide' %}">IDE</a>
                            </li>
                            {% if user.is_authenticated %}
                                {% if not user.profile.teacher_profile %}
                                    <li class="uk-active">
                                        <a href="{% url 'submissions' %}">My Submissions</a>
                                    </li>
                                {% endif %}
                                <li class="uk-active">
                                    <a href="{% url 'home' %}">{{ user.username }}</a>
                                </li>
                                <li class="uk-active">
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>
                                <li class="uk-active">
                                    <a href="#">
                                        {% if user.profile.avatar_small %}
                                            <img src="{{ user.profile.avatar_small }}" class="uk-border-circle" width="50">
                                        {% else %}
                                            <img src="{% static 'images/default.ico' %}" class="uk-border-circle" width="50"> 
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <button class="hidden-on-large-display uk-active uk-icon-button uk-button-default uk-margin-top uk-margin-right" style="margin-left: auto;" type="button" uk-toggle="target: #hamburger" uk-icon="grid"></button>
                </nav>
            </div>
        </header>

        <div class="uk-offcanvas-content uk-padding-remove">
            <div id="hamburger" uk-offcanvas="mode: push; overlay: true; flip: false; esc-close: true;">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                    <ul class="uk-nav uk-nav-primary uk-nav-center uk-text-left uk-margin-auto-vertical">
                    {% if user.is_authenticated %}
                        {% if user.profile.avatar %}
                            <img class="uk-border-circle uk-margin-small-right" width="50" height="50" src="{{ user.profile.avatar_small }}">
                        {% else %}
                            <img class="uk-border-circle uk-margin-small-right" width="50" height="50" src="{% static 'images/default.ico' %}">
                        {% endif %}
                        <span class="uk-text-middle">{{ user.first_name }}</span>
                        <hr>
                    {% endif %}
                        <li><a href="{% url 'home' %}"><span class="uk-margin-small-right" uk-icon="icon: home;"></span> Home</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'ide' %}"><span class="uk-margin-small-right" uk-icon="icon: code;"></span> IDE</a></li>                            
                            {% if messages %}
                            {% for message in messages %}
                                <h5 {% if message.tags %}
                                    {% if message.tags == "error" %}
                                        class="uk-text-danger uk-text-center"
                                    {% else %}
                                        class="uk-text-{{ message.tags }} uk-text-center"
                                    {% endif %}
                                {% endif %}>{{ message }}</h5>
                            {% endfor %}
                        {% endif %}     <li><a href="{% url 'submissions' %}"><span class="uk-margin-small-right" uk-icon="icon: album;"></span> My Submissions</a></li>                            
                            <li><a href="{% url 'logout' %}"><span class="uk-margin-small-right" uk-icon="icon: sign-out;"></span> Logout</a></li>
                        {% else %}
                            <li class="uk-active"><a href="{% url 'home' %}"><span class="uk-margin-small-right" uk-icon="icon: sign-in;"></span> Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>


        <div class="site-content">
            {% if messages %}
                {% for message in messages %}
                    <h5 {% if message.tags %}
                        {% if message.tags == "error" %}
                            class="uk-text-danger uk-text-center"
                        {% else %}
                            class="uk-text-{{ message.tags }} uk-text-center"
                        {% endif %}
                    {% endif %}>{{ message }}</h5>
                {% endfor %}
            {% endif %}
            {% block body %}

            {% endblock %}
        </div>
    </div>
    <footer>
        <div align="center" class="footer-wrapper uk-box-shadow-small">
            <div class="uk-margin-small-left uk-margin-small-right uk-margin-small-top uk-padding-small uk-padding-remove-left uk-padding-remove-right">
                <span class="uk-text-small">
                    <hr>
                    <span uk-icon="icon: code;"></span> by Team Labper |
                    <a href="{% url 'about' %}" class="uk-icon-link uk-margin-small uk-text-emphasis" uk-icon="users">About</a>
                </span>
            </div>
        </div>
    </footer>
    </body>
    <script>
        var spinner = document.getElementById("spinner");
        var footer = document.getElementsByTagName("footer")[0];
        var site_content = document.getElementsByClassName("site-content")[0];
        footer.style.display = "none";
        site_content.style.display = "none";

        document.onreadystatechange = () => {
            if (document.readyState === 'complete') {
            // document ready
            spinner.style.display = "none";
            footer.style.display = "block";
            site_content.style.display = "block";
            }
        };
    </script>
</html>
