{% extends 'landing/base.html' %}

{% block title %}
    Labper | Courses List
{% endblock %}

{% block body %}
<div class="uk-card-hover uk-border-rounded uk-card-default uk-card-body uk-width-1-2@m uk-margin-top uk-align-center ">
    <h3 class="uk-card-title">Courses</h3>
    <hr>
    <table class="uk-table uk-table-striped">
        <thead>
            {% for course in courses %}
            <tr>
                <th class="uk-text-center">Course Code</th>
                <th class="uk-text-center">Batch</th>
                <th class="uk-text-center">Name</th>
                <th class="uk-text-center">Action</th>
            </tr>
            {% endfor %}
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td class="uk-text-center">{{ course.code }}</td>
                <td class="uk-text-center">{{ course.target_batch }}</td>
                <td class="uk-text-center">{{ course.name }}</td>
                <td>  
                    <a class="uk-width-1-1 uk-button text-white uk-button-secondary uk-width-auto uk-align-center uk-border-pill">
                        Teach
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>     
</div>

{% endblock %}
