{% extends 'landing/base.html' %}
{% block title %}
    Password Settings
{% endblock %}
{% block body %}
  <h2 class="uk-text-bold uk-text-center uk-padding-small">Set/Reset Password</h2>
    <div class="uk-card uk-card-default uk-width-1-2@m uk-text-center uk-card-body uk-align-center uk-margin-medium-top uk-margin-auto-bottom">
        <p class="uk-text-primary uk-text-bold">Your username: {{ user.username }}</p>
        {% if not user.has_usable_password %}
            <p class="uk-text-danger uk-text-bold">You have not defined a password yet.</p>
            <form method="post">
                {% csrf_token %}
                <div class="uk-margin">
                    <div class="uk-inline">
                        <label for="id_password1" class="uk-form-icon" uk-icon="icon: lock"></label>
                        <input class="uk-input" type="password" name="password1" required="" id="id_password1" placeholder="New Password" autofocus="">
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <label for="id_password2" class="uk-form-icon" uk-icon="icon: lock"></label>
                        <input class="uk-input" type="password" name="password2" required="" placeholder="Confirm Password" id="id_password2" autofocus="">
                    </div>
                </div>
                {% for error_message in form.errors.items %}
                    <div class="uk-text-danger uk-text-bold uk-margin-small-bottom">
                        {{ error_message|striptags }}
                    </div>
                {% endfor %}
                <button class="uk-button uk-button-danger uk-border-rounded" type="submit">Set Password</button>
            </form>

        {% else %}
            <p class="uk-text-bold">Enter your new password and click save changes.</p>
            <form method="post">
                {% csrf_token %}
                <div class="uk-margin">
                    <div class="uk-inline">
                        <label for="id_old_password" class="uk-form-icon" uk-icon="icon: lock"></label>
                        <input class="uk-input uk-form-width-large" type="password" name="old_password" autofocus="" id="id_old_password" placeholder="Old Password" required="">
                    </div>
                    {% if form.old_password.errors %}
                        <div class="uk-text-danger uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-list">
                            {{ form.old_password.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <label for="id_new_password1" class="uk-form-icon" uk-icon="icon: lock"></label>
                        <input class="uk-input uk-form-width-large" type="password" name="new_password1" autofocus="" id="id_new_password1" placeholder="New Password" required="">
                    </div>
                    {% if form.new_password.errors %}
                        <div class="uk-text-danger uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-list">
                            {{ form.new_password.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <label for="id_new_password2" class="uk-form-icon" uk-icon="icon: lock"></label>
                        <input class="uk-input uk-form-width-large" type="password" name="new_password2" required="" placeholder="Confirm Password" id="id_new_password2">
                    </div>
                    {% if form.new_password2.errors %}
                        <div class="uk-text-danger uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-list">
                            {{ form.new_password2.errors }}
                        </div>
                    {% endif %}
                </div>
                <button class="uk-button uk-button-danger uk-border-rounded" type="submit">Save changes</button>
            </form>
        {% endif %}
        <hr>
        <span class="uk-text-bold">Need help</span>
        <a class="uk-icon-button uk-button-link" href="#help-password" uk-toggle uk-icon="question"></a>

        <div id="help-password" uk-modal>
            <div class="uk-modal-dialog">

                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Need help choosing a password?</h2>
                </div>

                <div class="uk-modal-body" uk-overflow-auto>
                    {% for field in form %}
                        <div class="uk-text-bold uk-margin-small-bottom">
                            {% if field.help_text %}
                                <p>{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-secondary uk-modal-close uk-border-rounded" type="button">Got it!</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
